h3 {
    color: grey;
}

.navbar-dark .navbar-brand {
    color: grey;
    font: 40px;
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}

.navbar-brand {
    font-size: 2.25em;
}    

.navbar-dark .navbar-brand {
    margin: 10px;
}

#display {
    width: 100%;
    border: dotted grey;
    height: 50px;
    text-align: center;
}
